body{
    background-color: gray;
}
.square1{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-style: inset;
}
.square2{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.square3{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-style: outset;
    
}
.square4{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-style: inset;
}
.square5{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.square6{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-style: outset;
}
.square7{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-style: inset;
}
.square8{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.square9{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-style: outset;
}

.but{
    padding:5px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(171, 238, 39);
    
}
.but:hover{
    background-color: white;
  
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: white;
    
}
.test{
    width: 30%;
    height: 30%;
    background-color: white;
    display: inline-block;
    
    
}
.layout{
    display: flex;
    background-color: rgb(177, 22, 177);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    gap: 5px;
    
}
/* .val{
    width: 5vw;
    margin-left: 45px;
    
}
.box{
    width: 5vw;
    margin-left: 55px;
}
.symb{
    width: 5vw;
    margin-left: 60px; 
}
.num{
    width: 5vw;
    margin-left: 59px; 
}
.caps{
    width: 5vw;
    margin-left: 60px; 
} */
.test{
    list-style: none;

    justify-content: center;
    display: inline-block;
    background-color: rgb(230, 223, 223);
    width: 100%;
    height: 10%;
    color: black;

}
.body{
    list-style: none;
    background-color: rgb(54, 17, 88);
    padding: 40px 60px 40px 60px;
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 15);
    /* width: 25%;
    height: 25%; */
}